[http]
[core]
	excludesfile = /home/irsrvhome1/R13/titeuxm/.gitignore_global
    autocrlf = false
[user]
	name = marc_olivier
	email = marcolivier.titeux@gmail.com
[credential]
	helper = cache --timeout=3600
[http]
	proxy = http://irsrvpxw1-std:8082
	postBuffer = 524288000
[https]
	proxy = https://irsrvpxw1-std:8082
    postBuffer = 524288000
[color]
	ui = true
[diff]
    tool = kdiff3
[merge]
    tool = kdiff3
[mergetool "kdiff3"]
    path = /usr/bin/kdiff3
    keepBackup = true
    trustExitCode = false
[difftool "kdiff3"]
    path = /usr/bin/kdiff3
    keepBackup = true
    trustExitCode = false
